body {
	margin: 0;
}
#searchContainer {
	padding: 30px 150px 0 ;
}
.app {
	margin: 30px 0;
	padding: 8px 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	font-size: x-small;
	background-image: url(crisp_paper_ruffles_horizontal.png);
	position: relative;
}
.app img {
	float: left;
	margin-right: 10px;
}
.app .name {
	font-size: 16px;
	font-weight: bold;
}
.app .installLink {
	position: absolute;
	bottom: 10px;
}