body {
	margin: 0;
}
#header {
	margin: 30px 150px 0;
	position: relative;
}
#logo {
	font-size: x-large;
	font-weight: bold;
	font-variant: small-caps;
}
#searchContainer {
	position: absolute;
	bottom: 0;
	right: 0;
}
.app {
	margin: 30px 0;
	padding: 8px 150px 8px 224px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	font-size: x-small;
	background-image: url(crisp_paper_ruffles_horizontal.png);
	position: relative;
	min-height: 64px;
}
.app img {
	position: absolute;
	left: 150px;
}
.app .name {
	font-size: 16px;
	font-weight: bold;
}
.app:not(.expanded) .description * {
	display: inline;
}
.app .expandLink {
	cursor: pointer;
	position: absolute;
	bottom: 8px;
	right: 150px;
}
.app .installLink {
	margin-top: 18px;
	font-size: x-small;
	position: absolute;
	bottom: 8px;
}
.app.expanded {
	white-space: pre-wrap;
}
.app.expanded .description {
    margin-bottom: 30px;
    display: inline-block;
}